{% extends 'default.html' %}
{% load static %}
{% block content %}
<!-- Start content -->
<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">Dashboard</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Acuity</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end page-title -->

        <div class="row">

            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-heading p-4">
                        <div class="mini-stat-icon float-right">
                            <i class="mdi mdi-cube-outline bg-primary  text-white"></i>
                        </div>
                        <div>
                            <h5 class="font-16">Active Admin</h5>
                        </div>
                        <h3 class="mt-4">{{admin}}</h3>
                        <div class="progress mt-4" style="height: 4px;">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 10%"
                                aria-valuenow="{{admin}}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="text-muted mt-2 mb-0">Previous period<span class="float-right">{{admin}}%</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-heading p-4">
                        <div class="mini-stat-icon float-right">
                            <i class="mdi mdi-buffer bg-danger text-white"></i>
                        </div>
                        <div>
                            <h5 class="font-16">Staffs</h5>
                        </div>
                        <h3 class="mt-4">{{merchants}}</h3>
                        <div class="progress mt-4" style="height: 4px;">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 88%"
                                aria-valuenow="{{merchants}}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="text-muted mt-2 mb-0">Previous period<span class="float-right">{{merchants}}%</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-heading p-4">
                        <div class="mini-stat-icon float-right">
                            <i class="mdi mdi-briefcase-check bg-success text-white"></i>
                        </div>
                        <div>
                            <h5 class="font-16">Customers</h5>
                        </div>
                        <h3 class="mt-4">{{customers}}</h3>
                        <div class="progress mt-4" style="height: 4px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 88%"
                                aria-valuenow="{{customers}}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="text-muted mt-2 mb-0">Previous period<span class="float-right">{{customers}}%</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-heading p-4">
                        <div class="mini-stat-icon float-right">
                            <i class="mdi mdi-tag-text-outline bg-warning text-white"></i>
                        </div>
                        <div>
                            <h5 class="font-16">Products</h5>
                        </div>
                        {% if vendors > 0 %}
                        <h3 class="mt-4">{{vendors}}</h3>
                        {% else %}
                        <h3 class="mt-4">0</h3>
                        {% endif %}
                        <div class="progress mt-4" style="height: 4px;">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 68%"
                                aria-valuenow="{{vendors}}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="text-muted mt-2 mb-0">Previous period<span class="float-right">68%</span>
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <!-- START ROW -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card m-b-30">
                    <div class="card-body">
                        <h4 class="mt-0 header-title mb-4">Active Deals</h4>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>

                                        <th scope="col">User RoleID</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Contact</th>
                                        <th scope="col">Location</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% if page_obj %}
                                    {% for user in page_obj %}
                                    <tr>
                                        <td>{{user.user_role_id}}</td>
                                        <td>{{user.username}}</td>
                                        <td>{{user.first_name}} {{user.last_name}}</td>
                                        <td>{{user.email}}</td>
                                        <td><span class="badge badge-success">{{user.is_active}}</span></td>
                                        <td>
                                            <div>
                                                {{user.mobile_number}}
                                            </div>
                                        </td>
                                        <td>Houston, TX 77074</td>
                                        <td>{{user.created_at}}</td>
                                        <td>
                                            <div>
                                                <a href="{% url 'staff.edit' user.id %}"
                                                    class="btn btn-outline-primary btn-sm rounded-pill m-1"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td colspan="6" style="text-align:center;"> Record not found.</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        {% include "pagination.html" %}
                    </div>
                </div>
            </div>

        </div>
        <!-- END ROW -->

    </div>
    <!-- container-fluid -->

</div>
<!-- content -->
{% endblock content %}