{% extends 'default.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">{{singular_name}}</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="{% url 'orders.index' %}">{{plural_name}}</a></li>
                        <li class="breadcrumb-item active">All {{plural_name}}</li>
                    </ol>
                </div>
            </div>
            <!-- end row -->
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="card m-b-30">
                    <div class="card-body">
                        <!-- <a href="#">
                            <h4 class="btn btn-primary mt-0 header-title mb-4">Add {{singular_name}}</h4>
                        </a> -->
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Product</th>
                                        <th scope="col">Order Address</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Total Price</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if page_obj %}
                                    {% for product in page_obj %}

                                    <tr>
                                        <td>{{product.product}}</td>
                                        <td>{{product.order.shipping_address}}</td>
                                        <td>{{product.quantity}}</td>
                                        <td>{{product.total_price }}</td>
                                        {% if product.order.status == 'Pending' %}
                                        <td><span class="badge badge-info">{{product.order.status}}</span></td>
                                        {% elif product.order.status == 'Order Confirmed' %}
                                        <td><span class="badge badge-success">{{product.order.status}}</span></td>
                                        {% else %}
                                        <td><span class="badge badge-warning">{{product.order.status}}</span></td>
                                        {% endif %}
                                        <td>
                                            <span>
                                                <a href="#" class="btn btn-success btn-sm">View
                                                </a>
                                            </span>
                                            <span>
                                                <a href="#" class="btn btn-danger btn-sm confirmDelete">Delete
                                                </a>
                                            </span>
                                        </td>
                                    </tr>

                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td colspan="6" style="text-align:center;"> Record not found.</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        {% include "pagination.html" %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".confirmDelete").click(function (e) {
            e.stopImmediatePropagation();
            url = $(this).attr('href');
            Swal.fire({
                title: "Are you sure?",
                text: "Want to delete this ?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it",
                cancelButtonText: "No, cancel",
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {
                    window.location.replace(url);
                }
            });
            e.preventDefault();
        });
    });

</script>
{% endblock content %}