{% extends 'frontends/base.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block contents %}

<section class="bg-img1 txt-center p-lr-15 p-tb-92"
	style="background-image: url({% static 'fronts/images/bg-02.jpg' %});">
	<h2 class="ltext-105 cl0 txt-center">
		Perfect Shirts, Perfect Fit, Every Time
	</h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
	<div class="container">
		<div class="row p-b-148">
			<div class="col-md-7 col-lg-8">
				<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						Our Story
					</h3>

					<p class="stext-113 cl6 p-b-26">
						At Acuity Fashion, our journey began with a simple passion for creating the perfect shirt. We
						believe that the right shirt can elevate your entire look, no matter the occasion, and should
						always be comfortable, stylish, and affordable. What started as a dream to offer high-quality
						shirts to people of all walks of life has grown into a thriving online store that’s dedicated to
						bringing you only the best in fashion.

					</p>

					<p class="stext-113 cl6 p-b-26">
						Our founder, Ashwani Kumar, was frustrated by the lack of shirts on the market that combined
						style, fit, and affordability. Whether it was an ill-fitting collar, unbreathable fabric, or
						simply a lack of variety, they noticed a gap in the market for shirts that could meet the needs
						of every customer. That's when Acuity Fashion was born — with a mission to create a diverse
						collection of shirts that people could wear every day, whether for work, casual outings, or
						special events.
					</p>

					<p class="stext-113 cl6 p-b-26">
						Over time, we’ve expanded our collection, offering everything from classic button-downs to
						laid-back tees, all crafted with attention to detail and the highest-quality materials. We pride
						ourselves on providing a wide range of fits, sizes, colors, and styles to make sure there's a
						shirt for everyone.

						But we didn’t stop at just creating great shirts. At Acuity Fashion, we are committed to
						offering a seamless shopping experience. From browsing to checkout, we make sure that shopping
						for your next favorite shirt is quick and easy. Our team is always working to bring you the
						latest trends and classic staples, and we offer excellent customer service every step of the
						way.
					</p>
				</div>
			</div>

			<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
				<div class="how-bor1 ">
					<div class="hov-img0">
						<img src="{% static 'fronts/images/about-01.jpg' %}" alt="IMG">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
				<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						Our Mission
					</h3>

					<p class="stext-113 cl6 p-b-26">
						As we continue to grow, our focus remains the same: to deliver shirts that not only look great
						but feel great too. Whether you’re looking for the perfect shirt for a business meeting, a
						weekend getaway, or something to wear to dinner, we’ve got you covered. We’re thrilled to be a
						part of your journey and can’t wait to see how you wear your Acuity Fashion shirt.



						Quality You Can Trust: We source the best fabrics and focus on craftsmanship, ensuring every
						shirt is made to last.
						Variety for All Styles: From business-ready dress shirts to cozy casual tees, we have a shirt
						for every occasion.
						Perfect Fit for Everyone: With a range of sizes and fits, we aim to provide shirts that fit just
						right, no matter your body type.
						Affordable Fashion: We believe that looking great shouldn’t break the bank, so we offer stylish
						shirts at prices that fit your budget.
					</p>

					<p class="stext-113 cl6 p-b-26">Why We Stand Out:</p>
					<ul class="stext-113 cl6 p-b-26">
						<li><b>Quality You Can Trust : </b>We source the best fabrics and focus on craftsmanship,
							ensuring every
							shirt is made to last.</li>
						<li><b>Variety for All Styles : </b> From business-ready dress shirts to cozy casual tees, we
							have a shirt for every occasion.</li>
						<li><b>Perfect Fit for Everyone : </b> With a range of sizes and fits, we aim to provide shirts
							that fit just right, no matter your body type.</li>
						<li><b>Affordable Fashion : </b> We believe that looking great shouldn’t break the bank, so we
							offer stylish shirts at prices that fit your budget.</li>
					</ul>
					<div class="bor16 p-l-29 p-b-9 m-t-22">
						<p class="stext-114 cl6 p-r-40 p-b-11">
							Creativity is just connecting things. When you ask creative people how they did something,
							they feel a little guilty because they didn't really do it, they just saw something. It
							seemed obvious to them after a while.
						</p>

						<span class="stext-111 cl8">
							- Steve Job’s
						</span>
					</div>
				</div>
			</div>

			<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
				<div class="how-bor2">
					<div class="hov-img0">
						<img src="{% static 'fronts/images/about-02.jpg' %}" alt="IMG">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}