{% extends 'frontends/base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block contents %}

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92"
    style="background-image: url({% static 'fronts/images/bg-01.jpg' %});">
    <h2 class="ltext-105 cl0 txt-center">
        Profile Account
    </h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-104 p-b-116">
    <div class="container">
        <div class="flex-w flex-tr">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                <h4 class="mtext-105 cl2 txt-center p-b-30">
                    User Profile
                </h4>
                <form action="{% url 'home.profile' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    {% if field.name == 'username' %}
                    <div class="bor8 m-b-20 how-pos4-parent">
                        {{field}}
                    </div>
                    {% if field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{field.errors}}</strong>
                    </div>
                    {% endif %}
                    <br>
                    {% elif field.name == 'image' %}
                    <div class="bor8 m-b-20 how-pos4-parent">
                        {{field}}
                    </div>
                    {% if show_image %}
                    <div class="card" style="width: 18rem;">
                        <img src="{{show_image.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Current Profile Image</p>
                        </div>
                    </div>
                    {% endif %}
                    {% if field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{field.errors}}</strong>
                    </div>
                    {% endif %}
                    <br>
                    {% elif field.name == 'first_name' %}
                    <div class="bor8 m-b-20 how-pos4-parent">
                        {{field}}
                    </div>
                    {% if field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{field.errors}}</strong>
                    </div>
                    {% endif %}
                    <br>
                    {% elif field.name == 'last_name' %}
                    <div class="bor8 m-b-20 how-pos4-parent">
                        {{field}}

                    </div>
                    {% if field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{field.errors}}</strong>
                    </div>
                    {% endif %}
                    <br>
                    {% elif field.name == 'gender' %}
                    <div class="bor8 m-b-20 how-pos4-parent">
                        {{field}}

                    </div>
                    {% if field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{field.errors}}</strong>
                    </div>
                    {% endif %}
                    <br>
                    {% elif field.name == 'email' %}
                    <div class="bor8 m-b-20 how-pos4-parent">
                        {{field}}

                    </div>
                    {% if field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{field.errors}}</strong>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    <br>

                    <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                        Update Profile
                    </button>

                </form>
            </div>

        </div>
    </div>
</section>




{% endblock %}