{% extends 'frontends/base.html' %}
{% load static %}
{% block title %}Register{% endblock %}
{% block contents %}

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92"
    style="background-image: url({% static 'fronts/images/bg-01.jpg' %});">
    <h2 class="ltext-105 cl0 txt-center">
        Register Account
    </h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-104 p-b-116">
    <div class="container">
        <div class="flex-w flex-tr">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                <h4 class="mtext-105 cl2 txt-center p-b-30">
                    Register
                </h4>
                <form action="{% url 'home.register_user' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    {% if field.name == 'username' %}
                    <div class="bor8 m-b-20 how-pos4-parent">
                        {{field}}
                    </div>
                    {% if field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{field.errors}}</strong>
                    </div>
                    {% endif %}
                    <br>
                    {% elif field.name == 'first_name' %}
                    <div class="bor8 m-b-20 how-pos4-parent">
                        {{field}}
                    </div>
                    {% if field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{field.errors}}</strong>
                    </div>
                    {% endif %}
                    <br>
                    {% elif field.name == 'last_name' %}
                    <div class="bor8 m-b-20 how-pos4-parent">
                        {{field}}
                    </div>
                    {% if field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{field.errors}}</strong>
                    </div>
                    {% endif %}
                    <br>
                    {% elif field.name == 'mobile_number' %}
                    <div class="bor8 m-b-20 how-pos4-parent">
                        {{field}}
                    </div>
                    {% if field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{field.errors}}</strong>
                    </div>
                    {% endif %}
                    <br>
                    {% elif field.name == 'email' %}
                    <div class="bor8 m-b-20 how-pos4-parent">
                        {{field}}
                    </div>
                    {% if field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{field.errors}}</strong>
                    </div>
                    {% endif %}
                    <br>

                    {% elif field.name == 'password' %}
                    <div class="bor8 m-b-20 how-pos4-parent">
                        {{field}}
                    </div>
                    {% if field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{field.errors}}</strong>
                    </div>
                    {% endif %}
                    <br>
                    {% elif field.name == 'confirm_password' %}
                    <div class="bor8 m-b-20 how-pos4-parent">
                        {{field}}
                    </div>
                    {% if field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{field.errors}}</strong>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                        Register
                    </button>
                </form>
            </div>

            <div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
                <div class="flex-w w-full p-b-42">
                    <div class="size-212 p-t-2 m-4">
                        <p class="stext-115 cl6 size-213 p-t-18">
                            If your accounts is register Please login the account
                        </p>
                    </div>
                    <a href="{% url 'home.login_user' %}"
                        class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                        Login User
                    </a>

                </div>


            </div>
        </div>
    </div>
</section>




{% endblock %}